nav{
    display: flex;
    gap: 10rem;
    align-items: center;
    background-color: #56042C;
    color: #fff;
}
nav ul {
    display: flex;
    list-style: none;
    border-left: 50%;
    gap: 10rem;
    align-items: center;
    
}

.navOption {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none; 
    color: #fff;
    transition: filter 0.2s;
}
.navOption:hover{
    filter: brightness(90%);
}

.teams-img {
    max-width: 100%;
    width: 2080px;
    height: auto;
}